* {
    margin: 0;
    padding: 0;
}

/* Header */

.navbar {
    background-color: #e0d3b8;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #a69a81;
}

#fotonavbar {
    padding-right: 10px;
    width: 50px;
}

.nav-link {
    color: #a69a81;
}

/* Fin header */