* {
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: #f5e5c4;
  }
  
  /* -------INICIO INDEX-------*/
  /* Header */
  .navbar {
    background-color: #e0d3b8;
  }
  
  .navbar-brand {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color: #a69a81;
  }
  
  #fotonavbar {
    padding-right: 10px;
    width: 50px;
  }
  
  .nav-link {
    color: #a69a81;
  }
  
  /* Fin Header */
  /* Carousel */
  .carousel {
    display: grid;
    margin-left: 25%;
    padding: 5px;
  }
  
  /* Fin Carousel */
  /* Sector productos */
  .producto {
    display: flex;
    justify-content: center;
    height: 550px;
  }
  
  .remera {
    box-shadow: 0 0 5px black;
  }
  
  .remera:hover {
    transform: scale(1.1);
    transition: all 0.9s ease 0s;
  }
  
  #cardTrabajos {
    margin: 0 auto;
    height: max-content;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  /* Fin sector productos*/
  /* Footer */
  footer {
    width: 100%;
    left: 0;
    padding: 2rem 8%;
    background-color: #e0d3b8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .logo {
    height: 80px;
    margin-bottom: 1rem;
  }
  
  .iconos, .menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
  
  li {
    list-style: none;
  }
  
  .iconos {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #a69a81;
    margin: 1rem;
  }
  
  .iconos:hover {
    background-color: black;
  }
  
  /* Fin footer*/
  /* -------FIN INDEX-------*/
  @media screen and (min-width: 0px) and (max-width: 576px) {
    .carousel-inner {
      width: 500px;
      height: 300px;
      margin-left: -25%;
    }
    .fondo {
      margin-bottom: 30px;
      height: 350px;
    }
    .carousel-indicators {
      margin-top: -30px;
    }
  }
  @media screen and (min-width: 577px) and (max-width: 768px) {
    .carousel-inner {
      width: 700px;
      height: 360px;
      margin-left: -25%;
    }
    .fondo {
      margin-bottom: 30px;
      height: 350px;
    }
    .carousel-indicators {
      margin-top: -30px;
    }
  }
  @media screen and (min-width: 769px) and (max-width: 992px) {
    .carousel-inner {
      width: 900px;
      height: 500px;
      margin-left: -25%;
    }
    .fondo {
      margin-bottom: 150px;
      height: 350px;
    }
    .carousel-indicators {
      margin-top: -30px;
    }
  }
  @media screen and (min-width: 993px) and (max-width: 1200px) {
    .carousel-inner {
      width: 1100px;
      height: 700px;
      margin-left: -25%;
    }
    .fondo {
      margin-bottom: 350px;
      height: 350px;
    }
    .carousel-indicators {
      margin-top: -30px;
    }
  }