* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f5e5c4;
}

section .slide {
  margin-top: 10px;
}
section div div div img {
  height: 65vh;
}

footer {
  width: 100%;
  left: 0;
  padding: 2rem 8%;
  background-color: #e0d3b8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer img {
  height: 80px;
  margin-bottom: 1rem;
}
footer div a img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid #a69a81;
  margin: 1rem;
}
footer div a img:hover {
  background-color: black;
}
footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
footer ul li {
  list-style: none;
}

header nav {
  background-color: #e0d3b8;
}
header nav div a {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #a69a81;
}
header nav div a img {
  padding-right: 10px;
  width: 50px;
}
header nav div .navbar-brand {
  color: #a69a81;
}
header nav div div ul li a {
  color: #a69a81;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container .card {
  background-color: white;
  width: 270px;
  margin: 15px;
  border-radius: 10px;
}
.container .card:hover {
  background-color: black;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.5s ease;
}
.container .card:hover h2, .container .card:hover p {
  color: white;
  transition: all 1s ease;
}
.container .card .card-image {
  height: 280px;
  margin-bottom: 15px;
  background-size: cover;
}
.container .card .producto-1 {
  background-image: url(/images/China-Apparel-Customized-Logo-Black-Open-Side-Zip-Oversize-T-Shirt.jpg);
}
.container .card .producto-2 {
  background-image: url(/images/pantalon.png);
}
.container .card .producto-3 {
  background-image: url(/images/a6aeb2812832d5d5495e6896c0ae2502.jpg);
}
.container .card h2 {
  color: black;
  padding: 10px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.container .card p {
  color: black;
  padding: 10px;
  text-align: center;
}
.container a {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container .card {
  background-color: white;
  width: 270px;
  margin: 15px;
  border-radius: 15px;
}
.container .card:hover {
  background-color: black;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.5s ease;
}
.container .card:hover h2, .container .card:hover p {
  color: white;
  transition: all 1s ease;
}
.container .card .card-image {
  height: 280px;
  margin-bottom: 15px;
  background-size: cover;
}
.container .card .remeras {
  background-image: url(/images/remeraparacat.jpg);
}
.container .card .pantalones {
  background-image: url(/images/pantalonparacat.jpg);
}
.container .card .bermudas {
  background-image: url(/images/bermudasparacat.jpg);
}
.container .card .zapatillas {
  background-image: url(/images/zapatillasparacat.jpg);
}
.container .card .buzos {
  background-image: url(/images/hoddieparacat.jpg);
}
.container .card .accesorios {
  background-image: url(/images/gorrasparacat.jpg);
}
.container .card .camperas {
  background-image: url(/images/camperasparacat.jpg);
}
.container .card h2 {
  color: black;
  padding: 10px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.container .card p {
  color: black;
  padding: 10px;
  text-align: center;
}
.container a {
  text-decoration: none;
}

.carrito-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.carrito-container .carrito img {
  width: 200px;
  padding: 50px;
  display: block;
  margin: auto;
}
.carrito-container .carrito h1 {
  color: #a69a81;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
}
.carrito-container .carrito h2 {
  color: #a69a81;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
}
.carrito-container .carrito a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background-color: black;
  color: white;
  padding: 15px 20px;
  display: block;
  text-align: center;
  margin: 20px 200px;
  margin-top: 60px;
  text-decoration: none;
}
.carrito-container .carrito a:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.5s ease;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
}
.product-container .producto-container .remera-producto {
  margin: 50px;
}
.product-container div {
  text-align: center;
  margin: auto;
}
.product-container div .talles-xs {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: black;
  margin: 15px;
  background-color: white;
  padding: 5px;
  border-style: inset;
}
.product-container div .talles-xs:hover {
  background-color: #a69a81;
  color: white;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.5s ease;
}
.product-container div .talles-s {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: black;
  margin: 15px;
  background-color: white;
  padding: 5px;
  border-style: inset;
}
.product-container div .talles-s:hover {
  background-color: #a69a81;
  color: white;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.5s ease;
}
.product-container div .talles-m {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: black;
  margin: 15px;
  background-color: white;
  padding: 5px;
  border-style: inset;
}
.product-container div .talles-m:hover {
  background-color: #a69a81;
  color: white;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.5s ease;
}
.product-container div .talles-l {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: black;
  margin: 15px;
  background-color: white;
  padding: 5px;
  border-style: inset;
}
.product-container div .talles-l:hover {
  background-color: #a69a81;
  color: white;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.5s ease;
}
.product-container div .talles-xl {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: black;
  margin: 15px;
  background-color: white;
  padding: 5px;
  border-style: inset;
}
.product-container div .talles-xl:hover {
  background-color: #a69a81;
  color: white;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.5s ease;
}
.product-container div h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.product-container div h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.product-container div .agregar-carrito {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background-color: black;
  color: white;
  padding: 15px 20px;
  display: block;
  text-align: center;
  margin: 20px 200px;
  margin-top: 30px;
  text-decoration: none;
}
.product-container div .agregar-carrito:hover {
  background-color: green;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.5s ease;
}
.product-container div .texto-de-producto {
  margin: 25px;
}

/*# sourceMappingURL=style.css.map */
