footer {
    width: 100%;
    left: 0;
    padding: 2rem 8%;
    background-color: #e0d3b8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
        height: 80px;
    margin-bottom: 1rem;
    }
    div {
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 1rem;
            height: 50px;
            width: 50px;
            border-radius: 50px;
            border: 1px solid #a69a81;
            margin: 1rem;
            &:hover {
                background-color: black;
            }
        }
    }
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        li {
            list-style: none;
        }
    }
}