header {
    nav {
        background-color: #e0d3b8;
        div {
            a {
             font-family: "Montserrat", sans-serif;
             font-weight: 900;
             color: #a69a81;
             img {
                padding-right: 10px;
                width: 50px;
             }
            }
            div {
                ul {
                    li {
                        a {
                            color: #a69a81;
                        }
                    }
                }
            }
        }
    }
}