section {
  display: flex;
  justify-content: center;
  height: 550px;
  div {
    div {
      box-shadow: 0 0 5px black;
      margin: 0 auto;
      height: max-content;
      margin-top: 30px;
      margin-bottom: 30px;
      &:hover {
        transform: scale(1.1);
       transition: all 0.9s ease 0s;
      }
    }
  }
}