.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .card {
    background-color: white;
    width: 270px;
    margin: 15px;
    border-radius: 10px;
    &:hover {
      background-color: black;
      cursor: pointer;
      transform: scale(1.05);
      transition: all 0.5s ease;
      h2, p {
        color: white;
        transition: all 1s ease;
      }
    }
    .card-image {
      height: 280px;
      margin-bottom: 15px;
      background-size: cover;
    }
    .producto-2 {
      background-image: url(/images/pantalon.png);
    }
    .producto-3 {
      background-image: url(/images/a6aeb2812832d5d5495e6896c0ae2502.jpg);

    }
  }
  .card h2 {
    color: black;
    padding: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  .card p {
    color: black;
    padding: 10px;
    text-align: center;
  }
  a {
    text-decoration: none;
  }
}
